<div class="section p-b-0" id="carousel">
    <div class="container">
        <div class="tim-title">
            <h1>Banner Ads</h1>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/web/vue-bondi.gif" alt="Random first slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/web/bloodstock.gif" alt="Random second slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/silverQ.gif" alt="Random third slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/web/metricon.jpg" alt="Random fourth slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
