<div class="section p-b-0" id="carousel">
    <div class="container">
        <div class="tim-title">
            <h1>Logo Design</h1>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/CSA.jpg" alt="Random first slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/Hofmann.jpg" alt="Random second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/Longbow.png" alt="Random third slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/NightClub.jpg" alt="Random fourth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/PlusSpec.png" alt="Random fifth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/SilverStar.jpg" alt="Random sixth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/Synfunia.jpg" alt="Random seventh slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/Thrive.png" alt="Random eighth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/Wheels1.jpg" alt="Random ninth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/AddVintage.jpg" alt="Random tenth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/logos/Buena.jpg" alt="Random eleventh slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
