
<div class="row">
    <div class="col-md-12 ml-auto mr-auto text-center">
        <div class="modal-buttons">
            <button class="btn btn-outline-danger btn-round" (click)="open(nestea)">Nestea</button>
            <button class="btn btn-outline-danger btn-round" (click)="open(toyota)">Toyota</button>
            <button class="btn btn-outline-danger btn-round" (click)="open(optus)">Optus</button>
            <button class="btn btn-outline-danger btn-round" (click)="open(works)">Presto</button>
            <button class="btn btn-outline-danger btn-round" (click)="open(sonos)">Sonos</button>
            <button class="btn btn-outline-danger btn-round" (click)="open(sa-pol)">SA Police</button>
            <button class="btn btn-outline-danger btn-round" (click)="open(disaronno)">Disaronno</button>
            <button class="btn btn-outline-danger btn-round" (click)="open(virgin)">VirginAU</button>
        </div>
        <p class="m-t-10"><strong>2014</strong>: Blaze Advertising &bull; <strong>2012</strong>: Vitamin X &bull; <strong>2011</strong>: TLC Marketing (above)</p>

        <p class="m-t-10"><strong>2019</strong>: BMF Advertising &bull; <strong>2018</strong>: The Works &bull; <strong>2017</strong>: Design Street<br />
            <small>Banner Ads from 2017, 2018, 2019 not shown. References available upon request.</small>
        </p>
    </div>
</div>
