<footer class="footer">
    <div class="container">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>Thank you for dropping by</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a href="https://twitter.com/george_howell" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a href="#https://www.linkedin.com/in/george-howell-16891934/" class="btn btn-linkedin-bg linkedin-sharrre btn-round" rel="tooltip" title="Connect!">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </a>
                <a href="https://www.facebook.com/george.howell3" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                    <i class="fa fa-facebook-square"></i> Facebook
                </a>
                <a href="https://github.com/georgehowell" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                    <i class="fa fa-github"></i> Github
                </a>
            </div>
        </div>
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, George Howell
                </span>
            </div>
        </div>
    </div>
</footer>
