<div class="section p-b-0" id="carousel">
    <div class="container">
        <div class="tim-title">
            <h1>Adverts and Illustration</h1>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/01.jpg" alt="Random first slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/AmazingGirl.jpg" alt="Random second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/GolfChallenge.png" alt="Random third slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/graphic.png" alt="Random fourth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/ThriveHealth.jpg" alt="Random fifth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/WheelsOne.jpg" alt="Random sixth slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/movemberBanner.jpg" alt="Random seventh slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/ads/perfume.jpg" alt="Random eighth slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
